@inherits Freude.Templating.FreudeRazorTemplateBase
<html>
<head>
    <meta charset="utf-8">
    <title>Vreme</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
	@DocHtml
</body>
</html>
