<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\NHTutorial.log" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="5000KB" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%3thread] %-5level %-40logger{3} - %message%newline" />
      </layout>
    </appender>

    <appender name="SQLLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\NHTutorial.SQL.log" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="5000KB" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%3thread] %-5level %-40logger{3} - %message%newline" />
      </layout>
    </appender>

    <root>
      <priority value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>

    <logger name="NHibernate.SQL">
      <level value="ALL" />
      <appender-ref ref="SQLLogFileAppender" />
    </logger>
    
  </log4net>

</configuration>